<a href="https://colab.research.google.com/github/junpito/collections-of-college-task/blob/main/%5BR%5D_120450086_tugas_prak_komstat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



```
nama : junpito salim 
nim  : 120450086
```

In [ ]:
# 1. Kerjakan Latihan dibawah ini dengan menggunakan metode diatas dan bandingkan hasilnya dengan menggunaka integrate
#integrate
f = function(x) x^4*exp(-x)
integrate(f, 0, 5)

13.42816 with absolute error < 1.5e-13

In [ ]:
#trapezoid
trapezoid=function(f,a,b){
  return (((b-a)/2)*(f(a)+f(b)))
}

In [ ]:
trapezoid(f,0,5)

[1] 10.52804

In [ ]:
#simpson1/3
simpson13=function(f,a,b){
  return (((b-a)/6)*(f(a)+4*f((a+b)/2)+f(b)))
}

In [ ]:
simpson13(f,0,5)

[1] 14.1975

In [ ]:
#simpson3/8
simpson38=function(f,a,b){
  h = (b-a)/3
  return (((b-a)/8)*(f(a)+3*f(a+h)+3*f(b-h)+f(b)))
}
simpson38(f,0,5)

[1] 13.62245

In [ ]:
#boole
boole=function(f,a,b){
  h = (b-a)/4
  return (((b-a)/90)*(7*f(a)+32*f(a+h)+12*f((a+b)/2)+32*f(b-h)+7*f(b)))
}
boole(f,0,5)
regresi.mle <- function(formulas,data,optim_method="Nelder_Mead"){
  fm <-formulas
  x <-model.matrix(object=fm,data=data) #Matrix sesian
  y<- model.response(data=model.frame(formula=fm,data=data))
  logLik <- function(param,x,y){
    batas<-param[1:ncol(x)]
    sigmas <- param[(ncol(x)+1)]
    galat <- y-x%*%betas
    fungsi_logLik <- dnorm(x=galat,mean=0,sd=sigmas,log = TRUE)
    -sum(fungsi_logLik)
  }
  init_param <- rep(1, ncol(x)+1)
  optim_result <- optim(par=init_param,fn=logLik,method=optim_method,
                        hessian = TRUE, x=x, y=y)
  
  coef1 <- optim_result$par[1:ncol(x)]
  names(coef1) <- colnames(x)
  I=(diag(optim_result$hessian))
  std.error <- sqrt(1/I[1:ncol(x)])
  names(std.error) <- colnames(x)
  result <- list("coefficient"=coef1, "standar error"=std.error,
                 "sigma"=optim_result$par[ncol(x)+1])
  return(result)
}

[1] 13.28679

In [ ]:
n <- 1000
set.seed(121)
epsilon <- rnorm(n,mean=0,sd=1)
set.seed(10)
x <- replicate(3, rnorm(n,mean=0,sd=1))
betas <- matrix(c(10,3,5,7), nrow=4,ncol=1)
xgab <- cbind(1,x)
y <- xgab%*%betas+epsilon
dataregresi <- data.frame(y,x)
colnames(dataregresi) <- c("y","x1","x2","x3")

head(dataregresi)

  y         x1          x2         x3
1 12.895892  0.01874617  1.0500137 -0.30786498
2 16.292679 -0.18425254  0.2860926  0.75808558
3  3.199569 -1.37133055  0.2405648 -0.57386341
4  5.713738 -0.59916772  0.8327052 -0.93874446
5  8.861140  0.29454513 -0.2229832 -0.02769932
6  6.762695  0.38979430  0.2883442 -1.06624865